.row
	.cell.cell-heading.nameCell.grey-bg
		p Item Name
	.cell.cell-heading.impressionsCell.grey-bg
		p Lander
	.cell.cell-heading.spendCell.grey-bg
		p 5 Secs
	.cell.cell-heading.salesCell.grey-bg
		p Scroll 25%
	.cell.cell-heading.ctrCell.grey-bg
		p Scroll 50%
	.cell.cell-heading.cvrCell.grey-bg
		p Scroll 75%
	.cell.cell-heading.clicksCell.grey-bg
		p Checkout
	.cell.cell-heading.cpaCell.grey-bg
		p 5 Secs
	.cell.cell-heading.aovCell.grey-bg
		p Start Form
	.cell.cell-heading.spreadCell.grey-bg
		p Prospect
	.cell.cell-heading.cpmCell.grey-bg
		p Order
	.cell.cell-heading.cpiCell.grey-bg
		p Thank You
	.cell.cell-heading.cpiCell.grey-bg
		p Purchases
	.cell.cell-heading.cpiCell.grey-bg
		p CVR


- for(var i = 0; i < res.length; i++)
	div(class='row infoRow')
		div(class='nameCell')
			p #{res[i].name}
		div(class='cell')
			p #{res[i].landerLoad}
		div(class='cell')
			p #{res[i].stayed5SecondsLander}
		div(class='cell')
			p #{res[i].scrollOver25Percent}
		div(class='cell')
			p #{res[i].scrollOver50Percent}
		div(class='cell')
			p #{res[i].scrollOver75Percent}
		div(class='cell')
			p #{res[i].checkoutLoad}
		div(class='cell')
			p #{res[i].stayed5SecondsCheckout}
		div(class='cell')
			p #{res[i].startForm}
		div(class='cell')
			p #{res[i].submitProspect}
		div(class='cell')
			p #{res[i].submitOrder}
		div(class='cell')
			p #{res[i].thankYouLoad}
		div(class='cell')
			p #{res[i].purchases}
		div(class='cell')
			p #{res[i].cvr}%

