.row
	.cell.cell-heading.nameCell.grey-bg
		p Item Name
	.cell.cell-heading.impressionsCell.grey-bg
		p Detox
	.cell.cell-heading.clicksCell.grey-bg
		p Detox x2 x3
	.cell.cell-heading.purchasesCell.grey-bg
		p Trial
	.cell.cell-heading.spendCell.grey-bg
		p Bottle
	.cell.cell-heading.salesCell.grey-bg
		p Hunger 
	.cell.cell-heading.ctrCell.grey-bg
		p Express
	.cell.cell-heading.cvrCell.grey-bg
		p Purchases
	.cell.cell-heading.cvrCell.grey-bg
		p 
	.cell.cell-heading.cvrCell.grey-bg
		p 
	.cell.cell-heading.cvrCell.grey-bg
		p 
	.cell.cell-heading.cvrCell.grey-bg
		p 
	.cell.cell-heading.cvrCell.grey-bg
		p 
	.cell.cell-heading.cvrCell.grey-bg
		p 
	.cell.cell-heading.cvrCell.grey-bg
		p 



- for(var i = 0; i < res.length; i++)
	div(class='row infoRow')
		div(class='nameCell')
			p #{res[i].name}
		div(class='cell')
			p #{res[i].detox}
		div(class='cell')
			p #{res[i].detoxMultiple}
		div(class='cell')
			p #{res[i].trial}
		div(class='cell')
			p #{res[i].bottle}
		div(class='cell')
			p #{res[i].hungerBuster}
		div(class='cell')
			p #{res[i].expressDelivery}
		div(class='cell')
			p #{res[i].purchases}
		div(class='agIdFiller')
			p 

