

div(class='row')
	div(class='nameCell')
		p Item Name
	div(class='cell')
		p Impressions
	div(class='cell')
		p Clicks
	div(class='cell')
		p Purchases
	div(class='cell')
		p Spend
	div(class='cell')
		p Revenue
	div(class='cell')
		p CTR
	div(class='cell')
		p CVR
	div(class='cell')
		p CPA
	div(class='cell')
		p AOV
	div(class='cell')
		p Spread
	div(class='recoCell')
		p Recommendation (beta)


- for(var i = 0; i < res.length; i++)
	div(class='row')
		div(class='nameCell')
			p #{res[i].name}
		div(class='cell')
			p #{res[i].impressions}
		div(class='cell')
			p #{res[i].clicks}
		div(class='cell')
			p #{res[i].purchases}
		div(class='cell')
			p #{res[i].spend}
		div(class='cell')
			p #{res[i].sales}
		div(class='cell')
			p #{res[i].ctr}
		div(class='cell')
			p #{res[i].cvr}
		div(class='cell')
			p #{res[i].cpa}
		div(class='cell')
			p #{res[i].aov}
		div(class='cell')
			p #{res[i].spread}
		div(class='recoCell')
			p #{res[i].recommendation}



