.row
	.cell.cell-heading.nameCell.grey-bg
		p Item Name
	.cell.cell-heading.impressionsCell.grey-bg
		p Impressions
	.cell.cell-heading.clicksCell.grey-bg
		p Clicks
	.cell.cell-heading.purchasesCell.grey-bg
		p Purchases
	.cell.cell-heading.spendCell.grey-bg
		p Spend
	.cell.cell-heading.salesCell.grey-bg
		p Revenue
	.cell.cell-heading.ctrCell.grey-bg
		p CTR
	.cell.cell-heading.cvrCell.grey-bg
		p CVR
	.cell.cell-heading.cpaCell.grey-bg
		p CPA
	.cell.cell-heading.aovCell.grey-bg
		p AOV
	.cell.cell-heading.spreadCell.grey-bg
		p Spread
	.cell.cell-heading.cpmCell.grey-bg
		p CPM
	.cell.cell-heading.cpiCell.grey-bg
		p CPI
	.cell.cell-heading.cpiCell.grey-bg
		p ROAS
	.cell.cell-heading.cpiCell.grey-bg
		p Points


- for(var i = 0; i < res.length; i++)
	div(class='row infoRow')
		div(class='nameCell')
			p #{res[i].source}
		div(class='cell')
			p #{res[i].impressions}
		div(class='cell')
			p #{res[i].clicks}
		div(class='cell')
			p #{res[i].purchases}
		div(class='cell')
			p #{res[i].spend}
		div(class='cell')
			p #{res[i].sales}
		div(class='cell')
			p #{res[i].ctr}%
		div(class='cell')
			p #{res[i].cvr}%
		div(class='cell')
			p #{res[i].cpa}
		div(class='cell')
			p #{res[i].aov}
		div(class='cell')
			p #{res[i].spread}
		div(class='cell')
			p #{res[i].cpm}
		div(class='cell')
			p #{res[i].cpi}
		div(class='cell')
			p #{res[i].healthIndex}
		div(class='cell')
			p #{res[i].points}

