.row
	.cell.cell-heading.nameCell.grey-bg
		p Item Name
	.cell.cell-heading.impressionsCell.grey-bg
		p Frauds
	.cell.cell-heading.spendCell.grey-bg
		p Chargebacks
	.cell.cell-heading.salesCell.grey-bg
		p CPT
	.cell.cell-heading.ctrCell.grey-bg
		p FPT
	.cell.cell-heading.cvrCell.grey-bg
		p FPC
	.cell.cell-heading.clicksCell.grey-bg
		p Transactions
	.cell.cell-heading.clicksCell.grey-bg
		p Chargeback Amount
	.cell.cell-heading.clicksCell.grey-bg
		p Fraud Amount
	.cell.cell-heading.cpaCell.grey-bg
		p CPD
	.cell.cell-heading.aovCell.grey-bg
		p FPD
	.cell.cell-heading.spreadCell.grey-bg
		p Revenue
	.cell.cell-heading.cpmCell.grey-bg
		p ChargebackAmountProb
	.cell.cell-heading.cpmCell.grey-bg
		p FraudAmountProb


- for(var i = 0; i < res.length; i++)
	div(class='row infoRow')
		div(class='nameCell')
			p #{res[i].name}
		div(class='cell')
			p #{res[i].frauds}
		div(class='cell')
			p #{res[i].chargebacks}
		div(class='cell')
			p #{res[i].cpt}
		div(class='cell')
			p #{res[i].fpt}
		div(class='cell')
			p #{res[i].fpc}
		div(class='cell')
			p #{res[i].purchases}
		div(class='cell')
			p #{res[i].chargebackAmount}
		div(class='cell')
			p #{res[i].fraudAmount}
		div(class='cell')
			p #{res[i].cpd}
		div(class='cell')
			p #{res[i].fpd}
		div(class='cell')
			p #{res[i].sales}
		div(class='cell')
			p #{res[i].chargebackAmountProb}%
		div(class='cell')
			p #{res[i].fraudAmountProb}%

